-- MySQL dump 10.13  Distrib 9.1.0, for Win64 (x86_64)
--
-- Host: localhost    Database: pigfarmmanagementsystem
-- ------------------------------------------------------
-- Server version	5.5.5-10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `barns`
--

DROP TABLE IF EXISTS `barns`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `barns` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `barn_code` varchar(255) NOT NULL,
  `pig_capacity` int(10) unsigned DEFAULT NULL,
  `pen_capacity` int(10) unsigned DEFAULT NULL,
  `note` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `farm_id` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `barns_barn_code_unique` (`barn_code`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `barns`
--

LOCK TABLES `barns` WRITE;
/*!40000 ALTER TABLE `barns` DISABLE KEYS */;
INSERT INTO `barns` VALUES (1,'F1-B01',760,20,'เน€เธฅเนเธฒ 1 เธเธญเธเธเธฒเธฃเนเธก ','2025-10-30 09:15:41','2025-10-30 09:15:41',1),(2,'F1-B02',760,20,'เน€เธฅเนเธฒ 2 เธเธญเธเธเธฒเธฃเนเธก ','2025-10-30 09:15:41','2025-10-30 09:15:41',1),(3,'F2-B01',760,20,'เน€เธฅเนเธฒ 1 เธเธญเธเธเธฒเธฃเนเธก ','2025-10-30 09:15:41','2025-10-30 09:15:41',2),(4,'F2-B02',760,20,'เน€เธฅเนเธฒ 2 เธเธญเธเธเธฒเธฃเนเธก ','2025-10-30 09:15:41','2025-10-30 09:15:41',2);
/*!40000 ALTER TABLE `barns` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `batch_metrics`
--

DROP TABLE IF EXISTS `batch_metrics`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `batch_metrics` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `batch_id` bigint(20) unsigned NOT NULL,
  `adg` decimal(10,4) DEFAULT NULL,
  `fcr` decimal(10,4) DEFAULT NULL,
  `fcg` decimal(14,4) DEFAULT NULL,
  `total_feed_used` decimal(12,3) DEFAULT NULL,
  `total_mortality` int(11) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `batch_metrics_batch_id_unique` (`batch_id`),
  CONSTRAINT `batch_metrics_batch_id_foreign` FOREIGN KEY (`batch_id`) REFERENCES `batches` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=48 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `batch_metrics`
--

LOCK TABLES `batch_metrics` WRITE;
/*!40000 ALTER TABLE `batch_metrics` DISABLE KEYS */;
/*!40000 ALTER TABLE `batch_metrics` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `batch_pen_allocations`
--

DROP TABLE IF EXISTS `batch_pen_allocations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `batch_pen_allocations` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `batch_id` bigint(20) unsigned DEFAULT NULL,
  `barn_id` bigint(20) unsigned DEFAULT NULL,
  `pen_id` bigint(20) unsigned DEFAULT NULL,
  `allocated_pigs` int(11) DEFAULT NULL,
  `current_quantity` int(11) DEFAULT NULL,
  `move_date` datetime DEFAULT NULL,
  `note` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=1223 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `batch_pen_allocations`
--

LOCK TABLES `batch_pen_allocations` WRITE;
/*!40000 ALTER TABLE `batch_pen_allocations` DISABLE KEYS */;
/*!40000 ALTER TABLE `batch_pen_allocations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `batch_treatments`
--

DROP TABLE IF EXISTS `batch_treatments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `batch_treatments` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `treatment_level` varchar(255) DEFAULT NULL COMMENT 'herd=เธฃเธฐเธ”เธฑเธเน€เธฅเนเธฒ, pen=เธฃเธฐเธ”เธฑเธเธเธญเธ',
  `pen_id` bigint(20) unsigned DEFAULT NULL,
  `batch_id` bigint(20) unsigned DEFAULT NULL,
  `farm_id` bigint(20) unsigned DEFAULT NULL,
  `dairy_record_id` bigint(20) unsigned DEFAULT NULL,
  `medicine_name` varchar(255) DEFAULT NULL,
  `medicine_code` varchar(255) DEFAULT NULL,
  `disease_name` varchar(255) DEFAULT NULL COMMENT 'เธเธทเนเธญเนเธฃเธ/เนเธเนเธ—เธตเนเน€เธฅเนเธฒ',
  `quantity` decimal(12,2) DEFAULT NULL,
  `dosage` decimal(8,2) DEFAULT NULL COMMENT 'เธเธเธฒเธ”เธขเธฒ/เธ•เธฑเธง (เธกเธฅ.)',
  `frequency` varchar(255) DEFAULT NULL COMMENT 'once, daily, twice_daily, every_other_day, weekly, custom',
  `withdrawal_period` int(11) DEFAULT NULL COMMENT 'เธฃเธฐเธขเธฐเน€เธงเธฅเธฒเธเธ”เน€เธงเนเธเธเนเธญเธเธเธณเธซเธเนเธฒเธข (เธงเธฑเธ)',
  `unit` varchar(255) DEFAULT NULL,
  `status` varchar(255) DEFAULT NULL,
  `treatment_status` varchar(255) NOT NULL DEFAULT 'pending' COMMENT 'เธชเธ–เธฒเธเธฐเธเธฒเธฃเธฃเธฑเธเธฉเธฒ: pending, ongoing, completed, stopped',
  `note` text DEFAULT NULL,
  `date` datetime DEFAULT NULL,
  `planned_start_date` date DEFAULT NULL COMMENT 'เธงเธฑเธเธ—เธตเนเน€เธฃเธดเนเธกเธ•เธฒเธกเนเธเธ',
  `actual_start_date` date DEFAULT NULL COMMENT 'เธงเธฑเธเธ—เธตเนเน€เธฃเธดเนเธกเธเธฃเธดเธ',
  `planned_duration` int(11) DEFAULT NULL COMMENT 'เธฃเธฐเธขเธฐเน€เธงเธฅเธฒเธ•เธฒเธกเนเธเธ (เธงเธฑเธ)',
  `actual_end_date` date DEFAULT NULL COMMENT 'เธงเธฑเธเธ—เธตเนเธชเธดเนเธเธชเธธเธ”เธเธฃเธดเธ (auto-update เธเธฒเธ status)',
  `effective_date` timestamp NULL DEFAULT NULL COMMENT 'เธงเธฑเธเน€เธงเธฅเธฒเธ—เธตเนเธเธฑเธเธ—เธถเธเธเธฃเธดเธ',
  `attachment_url` text DEFAULT NULL COMMENT 'URL เธซเธฃเธทเธญ path เธเธญเธเน€เธญเธเธชเธฒเธฃเนเธเธ',
  `treatment_start_date` date DEFAULT NULL COMMENT 'เธงเธฑเธเน€เธฃเธดเนเธกเนเธซเนเธขเธฒ',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `batch_treatments_farm_id_foreign` (`farm_id`),
  CONSTRAINT `batch_treatments_farm_id_foreign` FOREIGN KEY (`farm_id`) REFERENCES `farms` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `batch_treatments`
--

LOCK TABLES `batch_treatments` WRITE;
/*!40000 ALTER TABLE `batch_treatments` DISABLE KEYS */;
/*!40000 ALTER TABLE `batch_treatments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `batches`
--

DROP TABLE IF EXISTS `batches`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `batches` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `farm_id` bigint(20) unsigned NOT NULL,
  `batch_code` varchar(255) NOT NULL,
  `total_pig_weight` decimal(10,2) unsigned DEFAULT NULL,
  `total_pig_weight_at_sale` decimal(10,2) DEFAULT NULL COMMENT 'Total weight of pigs at time of sale (kg)',
  `total_weight_gain` decimal(10,2) DEFAULT NULL COMMENT 'Total weight gain from entry to sale (kg)',
  `average_weight_per_pig` decimal(10,3) unsigned DEFAULT NULL,
  `average_weight_per_pig_at_sale` decimal(10,2) DEFAULT NULL COMMENT 'Average weight per pig at time of sale (kg)',
  `avg_weight_gain_per_pig` decimal(10,2) DEFAULT NULL COMMENT 'Average weight gain per pig (kg)',
  `total_pig_amount` decimal(10,2) unsigned DEFAULT NULL,
  `current_quantity` int(10) unsigned NOT NULL DEFAULT 0,
  `total_pig_price` decimal(10,2) unsigned DEFAULT NULL,
  `average_price_per_pig` decimal(12,2) unsigned DEFAULT NULL,
  `status` varchar(255) NOT NULL DEFAULT 'เธเธณเธฅเธฑเธเน€เธฅเธตเนเธขเธ',
  `note` text DEFAULT NULL,
  `total_death` int(11) NOT NULL DEFAULT 0,
  `start_date` datetime NOT NULL,
  `end_date` datetime DEFAULT NULL,
  `raising_days` smallint(5) unsigned DEFAULT NULL COMMENT 'Days from entry to sale',
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `unique_farm_batch` (`farm_id`,`batch_code`),
  CONSTRAINT `batches_farm_id_foreign` FOREIGN KEY (`farm_id`) REFERENCES `farms` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=111 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `batches`
--

LOCK TABLES `batches` WRITE;
/*!40000 ALTER TABLE `batches` DISABLE KEYS */;
/*!40000 ALTER TABLE `batches` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cost_payments`
--

DROP TABLE IF EXISTS `cost_payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cost_payments` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `cost_id` bigint(20) unsigned NOT NULL,
  `payment_method` varchar(255) DEFAULT NULL,
  `cost_type` varchar(255) DEFAULT NULL COMMENT 'feed, medicine, piglet, wage, transport, etc - for filtering auto-approval',
  `amount` decimal(15,2) NOT NULL,
  `payment_date` datetime DEFAULT NULL,
  `reference_number` varchar(255) DEFAULT NULL,
  `bank_name` varchar(255) DEFAULT NULL,
  `status` enum('pending','approved','rejected') NOT NULL DEFAULT 'pending',
  `approved_date` datetime DEFAULT NULL,
  `approved_by` bigint(20) unsigned DEFAULT NULL,
  `reason` text DEFAULT NULL,
  `action_type` enum('created','updated','approved','rejected') NOT NULL DEFAULT 'created',
  `rejected_at` datetime DEFAULT NULL,
  `rejected_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  `recorded_by` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `cost_payments_cost_id_foreign` (`cost_id`),
  KEY `cost_payments_approved_by_foreign` (`approved_by`),
  KEY `cost_payments_cancelled_by_foreign` (`rejected_by`),
  KEY `cost_payments_recorded_by_foreign` (`recorded_by`),
  CONSTRAINT `cost_payments_approved_by_foreign` FOREIGN KEY (`approved_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `cost_payments_cancelled_by_foreign` FOREIGN KEY (`rejected_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `cost_payments_cost_id_foreign` FOREIGN KEY (`cost_id`) REFERENCES `costs` (`id`) ON DELETE CASCADE,
  CONSTRAINT `cost_payments_recorded_by_foreign` FOREIGN KEY (`recorded_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cost_payments`
--

LOCK TABLES `cost_payments` WRITE;
/*!40000 ALTER TABLE `cost_payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `cost_payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `costs`
--

DROP TABLE IF EXISTS `costs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `costs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `farm_id` bigint(20) unsigned NOT NULL,
  `batch_id` bigint(20) unsigned NOT NULL,
  `pig_entry_record_id` bigint(20) unsigned DEFAULT NULL COMMENT 'Reference to pig entry record for payment tracking',
  `cost_type` varchar(255) DEFAULT NULL,
  `amount` decimal(10,2) DEFAULT NULL,
  `quantity` int(11) DEFAULT NULL,
  `price_per_unit` decimal(10,2) DEFAULT NULL,
  `total_price` decimal(10,2) DEFAULT NULL,
  `note` text DEFAULT NULL,
  `date` date NOT NULL DEFAULT curdate(),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `storehouse_id` bigint(20) unsigned DEFAULT NULL,
  `item_code` varchar(255) DEFAULT NULL,
  `unit` varchar(255) DEFAULT NULL,
  `transport_cost` decimal(12,2) DEFAULT NULL,
  `excess_weight_cost` decimal(12,2) DEFAULT NULL,
  `receipt_file` varchar(255) DEFAULT NULL,
  `deleted_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `costs_farm_id_foreign` (`farm_id`),
  KEY `costs_batch_id_foreign` (`batch_id`),
  KEY `costs_pig_entry_record_id_foreign` (`pig_entry_record_id`),
  CONSTRAINT `costs_batch_id_foreign` FOREIGN KEY (`batch_id`) REFERENCES `batches` (`id`) ON DELETE CASCADE,
  CONSTRAINT `costs_farm_id_foreign` FOREIGN KEY (`farm_id`) REFERENCES `farms` (`id`) ON DELETE CASCADE,
  CONSTRAINT `costs_pig_entry_record_id_foreign` FOREIGN KEY (`pig_entry_record_id`) REFERENCES `pig_entry_records` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `costs`
--

LOCK TABLES `costs` WRITE;
/*!40000 ALTER TABLE `costs` DISABLE KEYS */;
/*!40000 ALTER TABLE `costs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `customers`
--

DROP TABLE IF EXISTS `customers`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `customers` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `customer_code` varchar(255) DEFAULT NULL,
  `customer_name` varchar(255) DEFAULT NULL,
  `customer_type` varchar(255) DEFAULT NULL,
  `phone` varchar(255) DEFAULT NULL,
  `line_id` varchar(255) DEFAULT NULL,
  `address` text DEFAULT NULL,
  `tax_id` varchar(255) DEFAULT NULL,
  `branch` varchar(255) DEFAULT NULL,
  `credit_days` int(11) DEFAULT NULL,
  `credit_limit` decimal(14,2) DEFAULT NULL,
  `total_purchased` decimal(14,2) DEFAULT NULL,
  `total_outstanding` decimal(14,2) DEFAULT NULL,
  `total_orders` int(11) DEFAULT NULL,
  `last_purchase_date` date DEFAULT NULL,
  `note` text DEFAULT NULL,
  `is_active` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `customers_customer_code_unique` (`customer_code`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `customers`
--

LOCK TABLES `customers` WRITE;
/*!40000 ALTER TABLE `customers` DISABLE KEYS */;
/*!40000 ALTER TABLE `customers` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `daily_treatment_logs`
--

DROP TABLE IF EXISTS `daily_treatment_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `daily_treatment_logs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `batch_treatment_id` bigint(20) unsigned NOT NULL,
  `treatment_date` date NOT NULL,
  `quantity_given` decimal(10,2) NOT NULL,
  `unit` varchar(255) DEFAULT NULL,
  `note` text DEFAULT NULL,
  `recorded_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `daily_treatment_logs_recorded_by_foreign` (`recorded_by`),
  KEY `daily_treatment_logs_batch_treatment_id_index` (`batch_treatment_id`),
  KEY `daily_treatment_logs_treatment_date_index` (`treatment_date`),
  CONSTRAINT `daily_treatment_logs_batch_treatment_id_foreign` FOREIGN KEY (`batch_treatment_id`) REFERENCES `batch_treatments` (`id`) ON DELETE CASCADE,
  CONSTRAINT `daily_treatment_logs_recorded_by_foreign` FOREIGN KEY (`recorded_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `daily_treatment_logs`
--

LOCK TABLES `daily_treatment_logs` WRITE;
/*!40000 ALTER TABLE `daily_treatment_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `daily_treatment_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dairy_record_items`
--

DROP TABLE IF EXISTS `dairy_record_items`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dairy_record_items` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `dairy_record_id` bigint(20) unsigned NOT NULL,
  `item_type` enum('feed','medicine','death') NOT NULL,
  `storehouse_id` bigint(20) unsigned DEFAULT NULL,
  `medicine_code` varchar(255) DEFAULT NULL,
  `batch_id` bigint(20) unsigned DEFAULT NULL,
  `treatment_date` date DEFAULT NULL,
  `treatment_status` varchar(255) DEFAULT NULL,
  `pen_id` bigint(20) unsigned DEFAULT NULL,
  `death_date` date DEFAULT NULL,
  `barn_id` bigint(20) unsigned DEFAULT NULL,
  `quantity` int(11) NOT NULL DEFAULT 0,
  `unit` varchar(255) DEFAULT NULL,
  `note` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `dairy_record_items_batch_id_foreign` (`batch_id`),
  KEY `dairy_record_items_pen_id_foreign` (`pen_id`),
  KEY `dairy_record_items_barn_id_foreign` (`barn_id`),
  KEY `dairy_record_items_dairy_record_id_index` (`dairy_record_id`),
  KEY `dairy_record_items_item_type_index` (`item_type`),
  KEY `dairy_record_items_storehouse_id_index` (`storehouse_id`),
  KEY `dairy_record_items_dairy_record_id_item_type_index` (`dairy_record_id`,`item_type`),
  CONSTRAINT `dairy_record_items_barn_id_foreign` FOREIGN KEY (`barn_id`) REFERENCES `barns` (`id`) ON DELETE SET NULL,
  CONSTRAINT `dairy_record_items_batch_id_foreign` FOREIGN KEY (`batch_id`) REFERENCES `batches` (`id`) ON DELETE SET NULL,
  CONSTRAINT `dairy_record_items_dairy_record_id_foreign` FOREIGN KEY (`dairy_record_id`) REFERENCES `dairy_records` (`id`) ON DELETE CASCADE,
  CONSTRAINT `dairy_record_items_pen_id_foreign` FOREIGN KEY (`pen_id`) REFERENCES `pens` (`id`) ON DELETE SET NULL,
  CONSTRAINT `dairy_record_items_storehouse_id_foreign` FOREIGN KEY (`storehouse_id`) REFERENCES `storehouses` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dairy_record_items`
--

LOCK TABLES `dairy_record_items` WRITE;
/*!40000 ALTER TABLE `dairy_record_items` DISABLE KEYS */;
/*!40000 ALTER TABLE `dairy_record_items` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dairy_records`
--

DROP TABLE IF EXISTS `dairy_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dairy_records` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `batch_id` bigint(20) unsigned DEFAULT NULL,
  `barn_id` bigint(20) unsigned DEFAULT NULL,
  `pen_id` bigint(20) unsigned DEFAULT NULL,
  `date` datetime DEFAULT NULL,
  `note` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=62 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dairy_records`
--

LOCK TABLES `dairy_records` WRITE;
/*!40000 ALTER TABLE `dairy_records` DISABLE KEYS */;
/*!40000 ALTER TABLE `dairy_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dairy_storehouse_uses`
--

DROP TABLE IF EXISTS `dairy_storehouse_uses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dairy_storehouse_uses` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `dairy_record_id` bigint(20) unsigned DEFAULT NULL,
  `storehouse_id` bigint(20) unsigned DEFAULT NULL,
  `barn_id` bigint(20) unsigned DEFAULT NULL,
  `quantity` decimal(12,2) DEFAULT NULL,
  `date` datetime DEFAULT NULL,
  `note` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=40 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dairy_storehouse_uses`
--

LOCK TABLES `dairy_storehouse_uses` WRITE;
/*!40000 ALTER TABLE `dairy_storehouse_uses` DISABLE KEYS */;
/*!40000 ALTER TABLE `dairy_storehouse_uses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `failed_jobs`
--

DROP TABLE IF EXISTS `failed_jobs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `failed_jobs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `uuid` varchar(255) NOT NULL,
  `connection` text NOT NULL,
  `queue` text NOT NULL,
  `payload` longtext NOT NULL,
  `exception` longtext NOT NULL,
  `failed_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `failed_jobs_uuid_unique` (`uuid`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `failed_jobs`
--

LOCK TABLES `failed_jobs` WRITE;
/*!40000 ALTER TABLE `failed_jobs` DISABLE KEYS */;
/*!40000 ALTER TABLE `failed_jobs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `farms`
--

DROP TABLE IF EXISTS `farms`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `farms` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `farm_name` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `barn_capacity` int(10) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `farms_farm_name_unique` (`farm_name`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `farms`
--

LOCK TABLES `farms` WRITE;
/*!40000 ALTER TABLE `farms` DISABLE KEYS */;
INSERT INTO `farms` VALUES (1,'เธจเธฃเธตเน€เธเธฃเธดเธเธเธฒเธฃเนเธก1','2025-10-16 11:48:48','2025-10-16 11:48:48',2),(2,'เธจเธฃเธตเน€เธเธฃเธดเธเธเธฒเธฃเนเธก2','2025-10-16 11:48:48','2025-10-16 11:48:48',2);
/*!40000 ALTER TABLE `farms` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventory_movements`
--

DROP TABLE IF EXISTS `inventory_movements`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inventory_movements` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `storehouse_id` bigint(20) unsigned DEFAULT NULL,
  `batch_id` bigint(20) unsigned DEFAULT NULL,
  `barn_id` bigint(20) unsigned DEFAULT NULL,
  `cost_id` bigint(20) unsigned DEFAULT NULL,
  `change_type` varchar(255) DEFAULT NULL,
  `quantity` int(11) DEFAULT NULL,
  `note` text DEFAULT NULL,
  `date` datetime DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `dairy_record_item_id` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `inventory_movements_cost_id_foreign` (`cost_id`),
  KEY `inventory_movements_dairy_record_item_id_index` (`dairy_record_item_id`),
  CONSTRAINT `inventory_movements_cost_id_foreign` FOREIGN KEY (`cost_id`) REFERENCES `costs` (`id`) ON DELETE SET NULL,
  CONSTRAINT `inventory_movements_dairy_record_item_id_foreign` FOREIGN KEY (`dairy_record_item_id`) REFERENCES `dairy_record_items` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventory_movements`
--

LOCK TABLES `inventory_movements` WRITE;
/*!40000 ALTER TABLE `inventory_movements` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventory_movements` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `migrations`
--

DROP TABLE IF EXISTS `migrations`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `migrations` (
  `id` int(10) unsigned NOT NULL AUTO_INCREMENT,
  `migration` varchar(255) NOT NULL,
  `batch` int(11) NOT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=87 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `migrations`
--

LOCK TABLES `migrations` WRITE;
/*!40000 ALTER TABLE `migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notifications`
--

DROP TABLE IF EXISTS `notifications`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notifications` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `type` varchar(255) DEFAULT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `related_user_id` bigint(20) unsigned DEFAULT NULL,
  `title` varchar(255) DEFAULT NULL,
  `message` text DEFAULT NULL,
  `url` varchar(255) DEFAULT NULL,
  `is_read` tinyint(1) NOT NULL DEFAULT 0,
  `read_at` datetime DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `related_model` varchar(255) DEFAULT NULL COMMENT 'เธเธเธดเธ”เธเธญเธ model เธ—เธตเนเน€เธเธตเนเธขเธงเธเนเธญเธ (PigEntryRecord, PigSale)',
  `related_model_id` bigint(20) unsigned DEFAULT NULL COMMENT 'ID เธเธญเธ model เธ—เธตเนเน€เธเธตเนเธขเธงเธเนเธญเธ',
  `approval_status` varchar(255) NOT NULL DEFAULT 'pending' COMMENT 'pending, approved, rejected',
  `approval_notes` text DEFAULT NULL COMMENT 'เธซเธกเธฒเธขเน€เธซเธ•เธธเนเธเธเธฒเธฃเธญเธเธธเธกเธฑเธ•เธด',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=305 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notifications`
--

LOCK TABLES `notifications` WRITE;
/*!40000 ALTER TABLE `notifications` DISABLE KEYS */;
/*!40000 ALTER TABLE `notifications` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `password_resets`
--

DROP TABLE IF EXISTS `password_resets`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `password_resets` (
  `email` varchar(255) NOT NULL,
  `token` varchar(255) NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`email`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `password_resets`
--

LOCK TABLES `password_resets` WRITE;
/*!40000 ALTER TABLE `password_resets` DISABLE KEYS */;
INSERT INTO `password_resets` VALUES ('the.terrarian.mos@gmail.com','$2y$10$Ku4Hid4RhXQG.FSE9wDi8eyEJacswtxT1K3qrgd1LO/hTf6EQTnMK','2025-10-21 07:08:40');
/*!40000 ALTER TABLE `password_resets` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payments`
--

DROP TABLE IF EXISTS `payments`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payments` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `pig_sale_id` bigint(20) unsigned DEFAULT NULL,
  `payment_number` varchar(255) DEFAULT NULL,
  `payment_date` datetime DEFAULT NULL,
  `amount` decimal(14,2) DEFAULT NULL,
  `payment_method` varchar(255) DEFAULT NULL,
  `reference_number` varchar(255) DEFAULT NULL,
  `bank_name` varchar(255) DEFAULT NULL,
  `receipt_file` varchar(255) DEFAULT NULL,
  `note` text DEFAULT NULL,
  `status` enum('pending','approved','rejected') NOT NULL DEFAULT 'pending',
  `approved_by` varchar(255) DEFAULT NULL,
  `approved_at` timestamp NULL DEFAULT NULL,
  `rejected_by` varchar(255) DEFAULT NULL,
  `rejected_at` timestamp NULL DEFAULT NULL,
  `reject_reason` text DEFAULT NULL,
  `recorded_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payments`
--

LOCK TABLES `payments` WRITE;
/*!40000 ALTER TABLE `payments` DISABLE KEYS */;
/*!40000 ALTER TABLE `payments` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pens`
--

DROP TABLE IF EXISTS `pens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pens` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `barn_id` bigint(20) unsigned NOT NULL,
  `pen_code` varchar(255) NOT NULL,
  `pig_capacity` int(10) unsigned DEFAULT NULL,
  `status` enum('เธเธณเธฅเธฑเธเนเธเนเธเธฒเธ','เนเธกเนเนเธ”เนเนเธเนเธเธฒเธ','เนเธเนเธเธฑเธเธซเธกเธนเธเนเธงเธข') NOT NULL DEFAULT 'เธเธณเธฅเธฑเธเนเธเนเธเธฒเธ',
  `note` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `pens_pen_code_unique` (`pen_code`),
  KEY `pens_barn_id_foreign` (`barn_id`),
  CONSTRAINT `pens_barn_id_foreign` FOREIGN KEY (`barn_id`) REFERENCES `barns` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=122 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pens`
--

LOCK TABLES `pens` WRITE;
/*!40000 ALTER TABLE `pens` DISABLE KEYS */;
/*!40000 ALTER TABLE `pens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permissions`
--

DROP TABLE IF EXISTS `permissions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `permissions` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `permissions_name_unique` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permissions`
--

LOCK TABLES `permissions` WRITE;
/*!40000 ALTER TABLE `permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `personal_access_tokens`
--

DROP TABLE IF EXISTS `personal_access_tokens`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `personal_access_tokens` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `tokenable_type` varchar(255) NOT NULL,
  `tokenable_id` bigint(20) unsigned NOT NULL,
  `name` varchar(255) NOT NULL,
  `token` varchar(64) NOT NULL,
  `abilities` text DEFAULT NULL,
  `last_used_at` timestamp NULL DEFAULT NULL,
  `expires_at` timestamp NULL DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `personal_access_tokens_token_unique` (`token`),
  KEY `personal_access_tokens_tokenable_type_tokenable_id_index` (`tokenable_type`,`tokenable_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `personal_access_tokens`
--

LOCK TABLES `personal_access_tokens` WRITE;
/*!40000 ALTER TABLE `personal_access_tokens` DISABLE KEYS */;
/*!40000 ALTER TABLE `personal_access_tokens` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pig_deaths`
--

DROP TABLE IF EXISTS `pig_deaths`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pig_deaths` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `batch_id` bigint(20) unsigned DEFAULT NULL,
  `dairy_record_id` bigint(20) unsigned DEFAULT NULL,
  `pen_id` bigint(20) unsigned DEFAULT NULL,
  `quantity` int(11) NOT NULL DEFAULT 0,
  `cause` varchar(255) DEFAULT NULL,
  `note` text DEFAULT NULL,
  `date` datetime DEFAULT NULL,
  `status` varchar(255) NOT NULL DEFAULT 'recorded',
  `recorded_by` bigint(20) unsigned DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `quantity_sold_total` int(11) NOT NULL DEFAULT 0 COMMENT 'เธเธณเธเธงเธเธซเธกเธนเธ•เธฒเธขเธ—เธตเนเธเธฒเธขเนเธเนเธฅเนเธง - เธชเธฐเธชเธก',
  `price_per_pig` decimal(10,2) DEFAULT NULL COMMENT 'เธฃเธฒเธเธฒเธ•เนเธญเธ•เธฑเธง เธ—เธตเนเธเธฒเธขเธซเธกเธนเธ•เธฒเธขเนเธ',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pig_deaths`
--

LOCK TABLES `pig_deaths` WRITE;
/*!40000 ALTER TABLE `pig_deaths` DISABLE KEYS */;
/*!40000 ALTER TABLE `pig_deaths` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pig_deaths_backup`
--

DROP TABLE IF EXISTS `pig_deaths_backup`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pig_deaths_backup` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `original_id` bigint(20) unsigned DEFAULT NULL,
  `payload` longtext CHARACTER SET utf8mb4 COLLATE utf8mb4_bin DEFAULT NULL CHECK (json_valid(`payload`)),
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pig_deaths_backup`
--

LOCK TABLES `pig_deaths_backup` WRITE;
/*!40000 ALTER TABLE `pig_deaths_backup` DISABLE KEYS */;
/*!40000 ALTER TABLE `pig_deaths_backup` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pig_entry_details`
--

DROP TABLE IF EXISTS `pig_entry_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pig_entry_details` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `pig_entry_id` bigint(20) unsigned NOT NULL,
  `batch_id` bigint(20) unsigned NOT NULL,
  `barn_id` bigint(20) unsigned NOT NULL,
  `pen_id` bigint(20) unsigned NOT NULL,
  `quantity` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `pig_entry_details_barn_id_foreign` (`barn_id`),
  KEY `pig_entry_details_pen_id_foreign` (`pen_id`),
  KEY `pig_entry_details_pig_entry_id_batch_id_index` (`pig_entry_id`,`batch_id`),
  KEY `pig_entry_details_batch_id_pen_id_index` (`batch_id`,`pen_id`),
  CONSTRAINT `pig_entry_details_barn_id_foreign` FOREIGN KEY (`barn_id`) REFERENCES `barns` (`id`) ON DELETE CASCADE,
  CONSTRAINT `pig_entry_details_batch_id_foreign` FOREIGN KEY (`batch_id`) REFERENCES `batches` (`id`) ON DELETE CASCADE,
  CONSTRAINT `pig_entry_details_pen_id_foreign` FOREIGN KEY (`pen_id`) REFERENCES `pens` (`id`) ON DELETE CASCADE,
  CONSTRAINT `pig_entry_details_pig_entry_id_foreign` FOREIGN KEY (`pig_entry_id`) REFERENCES `pig_entry_records` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=1123 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pig_entry_details`
--

LOCK TABLES `pig_entry_details` WRITE;
/*!40000 ALTER TABLE `pig_entry_details` DISABLE KEYS */;
/*!40000 ALTER TABLE `pig_entry_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pig_entry_records`
--

DROP TABLE IF EXISTS `pig_entry_records`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pig_entry_records` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `farm_id` bigint(20) unsigned DEFAULT NULL,
  `batch_id` bigint(20) unsigned DEFAULT NULL,
  `pig_entry_date` datetime DEFAULT NULL,
  `note` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `total_pig_amount` int(11) DEFAULT NULL,
  `total_pig_weight` decimal(12,2) DEFAULT NULL,
  `total_pig_price` decimal(14,2) DEFAULT NULL,
  `average_weight_per_pig` double(8,2) DEFAULT NULL COMMENT 'เธเนเธฒเน€เธเธฅเธตเนเธขเธเนเธณเธซเธเธฑเธเธ•เนเธญเธ•เธฑเธง',
  `average_price_per_pig` double(8,2) DEFAULT NULL COMMENT 'เธเนเธฒเน€เธเธฅเธตเนเธขเธฃเธฒเธเธฒเธ•เนเธญเธ•เธฑเธง',
  `payment_status` varchar(255) NOT NULL DEFAULT 'pending' COMMENT 'pending, partial, completed',
  `total_cost` decimal(14,2) DEFAULT NULL COMMENT 'เธขเธญเธ”เธฃเธงเธกเธเนเธฒเนเธเนเธชเธญเธข (transport + excess_weight)',
  `status` varchar(255) NOT NULL DEFAULT 'active' COMMENT 'active, cancelled',
  `cancellation_reason` varchar(255) DEFAULT NULL COMMENT 'เน€เธซเธ•เธธเธเธฅเธเธฒเธฃเธขเธเน€เธฅเธดเธ',
  `cancelled_at` timestamp NULL DEFAULT NULL COMMENT 'เน€เธงเธฅเธฒเธ—เธตเนเธขเธเน€เธฅเธดเธ',
  `cancelled_by` varchar(255) DEFAULT NULL COMMENT 'เนเธเธฃเธขเธเน€เธฅเธดเธ',
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=94 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pig_entry_records`
--

LOCK TABLES `pig_entry_records` WRITE;
/*!40000 ALTER TABLE `pig_entry_records` DISABLE KEYS */;
INSERT INTO `pig_entry_records` VALUES (90,1,107,'2025-10-31 00:00:00',NULL,'2025-10-30 22:29:24','2025-10-30 22:29:24',1500,39981.00,5788290.00,26.65,3858.86,'pending',NULL,'active',NULL,NULL,NULL),(93,2,110,'2025-10-31 00:00:00',NULL,'2025-10-30 23:31:05','2025-10-30 23:31:05',1500,39981.00,5788290.00,26.65,3858.86,'pending',NULL,'active',NULL,NULL,NULL);
/*!40000 ALTER TABLE `pig_entry_records` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pig_sale_details`
--

DROP TABLE IF EXISTS `pig_sale_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pig_sale_details` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `pig_sale_id` bigint(20) unsigned DEFAULT NULL,
  `pen_id` bigint(20) unsigned DEFAULT NULL,
  `quantity` int(11) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=125 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pig_sale_details`
--

LOCK TABLES `pig_sale_details` WRITE;
/*!40000 ALTER TABLE `pig_sale_details` DISABLE KEYS */;
/*!40000 ALTER TABLE `pig_sale_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pig_sales`
--

DROP TABLE IF EXISTS `pig_sales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pig_sales` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `sale_number` varchar(255) DEFAULT NULL,
  `farm_id` bigint(20) unsigned DEFAULT NULL,
  `batch_id` bigint(20) unsigned DEFAULT NULL,
  `pen_id` bigint(20) unsigned DEFAULT NULL,
  `customer_id` bigint(20) unsigned DEFAULT NULL,
  `pig_loss_id` bigint(20) unsigned DEFAULT NULL,
  `quantity` int(11) DEFAULT NULL,
  `total_weight` decimal(14,2) DEFAULT NULL,
  `estimated_weight` decimal(14,2) DEFAULT NULL,
  `actual_weight` decimal(14,2) DEFAULT NULL,
  `avg_weight_per_pig` decimal(12,2) DEFAULT NULL,
  `price_per_kg` decimal(12,2) DEFAULT NULL,
  `price_per_pig` decimal(12,2) DEFAULT NULL,
  `cpf_reference_price` decimal(12,2) DEFAULT NULL,
  `cpf_reference_date` datetime DEFAULT NULL,
  `total_price` decimal(14,2) DEFAULT NULL,
  `discount` decimal(14,2) DEFAULT NULL,
  `shipping_cost` decimal(14,2) DEFAULT NULL,
  `net_total` decimal(14,2) DEFAULT NULL,
  `payment_method` varchar(255) DEFAULT NULL,
  `payment_term` varchar(255) DEFAULT NULL,
  `due_date` datetime DEFAULT NULL,
  `invoice_number` varchar(255) DEFAULT NULL,
  `receipt_number` varchar(255) DEFAULT NULL,
  `receipt_file` varchar(255) DEFAULT NULL,
  `buyer_name` varchar(255) DEFAULT NULL,
  `note` text DEFAULT NULL,
  `date` datetime DEFAULT NULL,
  `sell_type` varchar(255) DEFAULT NULL,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `status` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=54 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pig_sales`
--

LOCK TABLES `pig_sales` WRITE;
/*!40000 ALTER TABLE `pig_sales` DISABLE KEYS */;
/*!40000 ALTER TABLE `pig_sales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `profit_details`
--

DROP TABLE IF EXISTS `profit_details`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `profit_details` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `profit_id` bigint(20) unsigned DEFAULT NULL,
  `cost_id` bigint(20) unsigned DEFAULT NULL,
  `cost_category` varchar(255) NOT NULL COMMENT 'feed, medicine, transport, labor, utility, other',
  `item_name` varchar(255) DEFAULT NULL COMMENT 'เธเธทเนเธญเธฃเธฒเธขเธเธฒเธฃเธเนเธฒเนเธเนเธชเธญเธข',
  `amount` decimal(14,2) NOT NULL COMMENT 'เธเธณเธเธงเธเน€เธเธดเธ',
  `note` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `profit_details_profit_id_foreign` (`profit_id`),
  KEY `profit_details_cost_id_foreign` (`cost_id`),
  CONSTRAINT `profit_details_cost_id_foreign` FOREIGN KEY (`cost_id`) REFERENCES `costs` (`id`) ON DELETE SET NULL,
  CONSTRAINT `profit_details_profit_id_foreign` FOREIGN KEY (`profit_id`) REFERENCES `profits` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=209 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `profit_details`
--

LOCK TABLES `profit_details` WRITE;
/*!40000 ALTER TABLE `profit_details` DISABLE KEYS */;
/*!40000 ALTER TABLE `profit_details` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `profits`
--

DROP TABLE IF EXISTS `profits`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `profits` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `farm_id` bigint(20) unsigned DEFAULT NULL,
  `batch_id` bigint(20) unsigned DEFAULT NULL,
  `total_revenue` decimal(14,2) NOT NULL DEFAULT 0.00 COMMENT 'เธฃเธฒเธขเนเธ”เนเธฃเธงเธกเธเธฒเธเธเธฒเธฃเธเธฒเธข',
  `total_cost` decimal(14,2) NOT NULL DEFAULT 0.00 COMMENT 'เธ•เนเธเธ—เธธเธเธฃเธงเธก (feed + transport + medicine + เธญเธทเนเธเน)',
  `gross_profit` decimal(14,2) NOT NULL DEFAULT 0.00 COMMENT 'เธเธณเนเธฃเธเธฑเนเธเธ•เนเธ (เธฃเธฒเธขเนเธ”เน - เธ•เนเธเธ—เธธเธ)',
  `profit_margin_percent` decimal(8,2) NOT NULL DEFAULT 0.00 COMMENT 'เน€เธเธญเธฃเนเน€เธเนเธเธ•เนเธเธณเนเธฃ',
  `feed_cost` decimal(14,2) NOT NULL DEFAULT 0.00 COMMENT 'เธเนเธฒเธญเธฒเธซเธฒเธฃ',
  `medicine_cost` decimal(14,2) NOT NULL DEFAULT 0.00 COMMENT 'เธเนเธฒเธขเธฒ/เธงเธฑเธเธเธตเธ',
  `transport_cost` decimal(14,2) NOT NULL DEFAULT 0.00 COMMENT 'เธเนเธฒเธเธเธชเนเธ',
  `excess_weight_cost` decimal(12,2) NOT NULL DEFAULT 0.00 COMMENT 'เธเนเธฒเธเนเธณเธซเธเธฑเธเธชเนเธงเธเน€เธเธดเธ',
  `labor_cost` decimal(14,2) NOT NULL DEFAULT 0.00 COMMENT 'เธเนเธฒเนเธฃเธเธเธฒเธ',
  `utility_cost` decimal(14,2) NOT NULL DEFAULT 0.00 COMMENT 'เธเนเธฒเธเธฃเธฐเนเธชเนเธ/เธเนเธณ',
  `other_cost` decimal(14,2) NOT NULL DEFAULT 0.00 COMMENT 'เธเนเธฒเนเธเนเธชเธญเธขเธญเธทเนเธเน',
  `total_pig_sold` int(11) NOT NULL DEFAULT 0 COMMENT 'เธเธณเธเธงเธเธซเธกเธนเธ—เธฑเนเธเธซเธกเธ”เธ—เธตเนเธเธฒเธข',
  `total_pig_dead` int(11) NOT NULL DEFAULT 0 COMMENT 'เธเธณเธเธงเธเธซเธกเธนเธ—เธตเนเธ•เธฒเธข',
  `profit_per_pig` decimal(12,2) NOT NULL DEFAULT 0.00 COMMENT 'เธเธณเนเธฃเธ•เนเธญเธ•เธฑเธงเธซเธกเธน',
  `adg` decimal(8,3) NOT NULL DEFAULT 0.000 COMMENT 'ADG - Average Daily Gain (kg/head/day)',
  `fcr` decimal(8,3) NOT NULL DEFAULT 0.000 COMMENT 'FCR - Feed Conversion Ratio (kg feed/kg gain)',
  `fcg` decimal(10,2) NOT NULL DEFAULT 0.00 COMMENT 'FCG - Feed Cost per kg Gain (baht/kg gain)',
  `starting_avg_weight` decimal(8,2) NOT NULL DEFAULT 0.00 COMMENT 'Starting average weight per pig (kg)',
  `ending_avg_weight` decimal(8,2) NOT NULL DEFAULT 0.00 COMMENT 'Ending average weight per pig (kg)',
  `total_feed_bags` int(11) NOT NULL DEFAULT 0 COMMENT 'Total feed bags consumed',
  `total_feed_kg` decimal(12,2) NOT NULL DEFAULT 0.00 COMMENT 'Total feed in kg consumed',
  `total_weight_gained` decimal(12,2) NOT NULL DEFAULT 0.00 COMMENT 'Total weight gained by all pigs (kg)',
  `period_start` datetime DEFAULT NULL COMMENT 'เธงเธฑเธเน€เธฃเธดเนเธกเธ•เนเธเธเธญเธเธเธ“เธฐ',
  `period_end` datetime DEFAULT NULL COMMENT 'เธงเธฑเธเธชเธดเนเธเธชเธธเธ”เธเธญเธเธเธ“เธฐ',
  `days_in_farm` int(11) NOT NULL DEFAULT 0 COMMENT 'เธเธณเธเธงเธเธงเธฑเธเธ—เธตเนเน€เธฅเธตเนเธขเธ',
  `status` varchar(255) NOT NULL DEFAULT 'incomplete' COMMENT 'incomplete, completed, closed',
  `note` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `profits_farm_id_foreign` (`farm_id`),
  KEY `profits_batch_id_foreign` (`batch_id`),
  CONSTRAINT `profits_batch_id_foreign` FOREIGN KEY (`batch_id`) REFERENCES `batches` (`id`) ON DELETE CASCADE,
  CONSTRAINT `profits_farm_id_foreign` FOREIGN KEY (`farm_id`) REFERENCES `farms` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=54 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `profits`
--

LOCK TABLES `profits` WRITE;
/*!40000 ALTER TABLE `profits` DISABLE KEYS */;
INSERT INTO `profits` VALUES (52,2,110,0.00,1031835.00,-1031835.00,0.00,344085.00,686000.00,1750.00,0.00,0.00,0.00,0.00,0,0,0.00,0.000,0.000,0.00,0.00,0.00,0,0.00,0.00,'2025-10-31 06:31:05','2025-11-01 15:25:47',0,'incomplete',NULL,'2025-10-31 03:53:38','2025-11-01 08:25:47'),(53,1,107,0.00,1031835.00,-1031835.00,0.00,344085.00,686000.00,1750.00,0.00,0.00,0.00,0.00,0,0,0.00,0.000,0.000,0.00,0.00,0.00,0,0.00,0.00,'2025-10-31 05:29:24','2025-11-01 15:25:47',0,'incomplete',NULL,'2025-10-31 03:54:07','2025-11-01 08:25:47');
/*!40000 ALTER TABLE `profits` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `revenues`
--

DROP TABLE IF EXISTS `revenues`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `revenues` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `farm_id` bigint(20) unsigned DEFAULT NULL,
  `batch_id` bigint(20) unsigned DEFAULT NULL,
  `pig_sale_id` bigint(20) unsigned DEFAULT NULL,
  `pig_entry_record_id` bigint(20) unsigned DEFAULT NULL,
  `revenue_type` varchar(255) NOT NULL COMMENT 'pig_sale, other_income',
  `quantity` decimal(12,2) DEFAULT NULL COMMENT 'เธเธณเธเธงเธเธซเธกเธน/เธซเธเนเธงเธขเธ—เธตเนเธเธฒเธข',
  `unit_price` decimal(12,2) DEFAULT NULL COMMENT 'เธฃเธฒเธเธฒเธ•เนเธญเธซเธเนเธงเธข',
  `total_revenue` decimal(14,2) NOT NULL COMMENT 'เธฃเธฒเธขเนเธ”เนเธฃเธงเธก',
  `discount` decimal(14,2) NOT NULL DEFAULT 0.00 COMMENT 'เธชเนเธงเธเธฅเธ”',
  `net_revenue` decimal(14,2) NOT NULL COMMENT 'เธฃเธฒเธขเนเธ”เนเธชเธธเธ—เธเธด (เธซเธฅเธฑเธเธซเธฑเธเธชเนเธงเธเธฅเธ”)',
  `revenue_date` datetime NOT NULL COMMENT 'เธงเธฑเธเธ—เธตเนเธกเธตเธฃเธฒเธขเนเธ”เน',
  `note` text DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `revenues_farm_id_foreign` (`farm_id`),
  KEY `revenues_batch_id_foreign` (`batch_id`),
  KEY `revenues_pig_sale_id_foreign` (`pig_sale_id`),
  KEY `revenues_pig_entry_record_id_foreign` (`pig_entry_record_id`),
  CONSTRAINT `revenues_batch_id_foreign` FOREIGN KEY (`batch_id`) REFERENCES `batches` (`id`) ON DELETE CASCADE,
  CONSTRAINT `revenues_farm_id_foreign` FOREIGN KEY (`farm_id`) REFERENCES `farms` (`id`) ON DELETE CASCADE,
  CONSTRAINT `revenues_pig_entry_record_id_foreign` FOREIGN KEY (`pig_entry_record_id`) REFERENCES `pig_entry_records` (`id`) ON DELETE CASCADE,
  CONSTRAINT `revenues_pig_sale_id_foreign` FOREIGN KEY (`pig_sale_id`) REFERENCES `pig_sales` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `revenues`
--

LOCK TABLES `revenues` WRITE;
/*!40000 ALTER TABLE `revenues` DISABLE KEYS */;
/*!40000 ALTER TABLE `revenues` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role_permission`
--

DROP TABLE IF EXISTS `role_permission`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `role_permission` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `role_id` bigint(20) unsigned NOT NULL,
  `permission_id` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `role_permission_role_id_foreign` (`role_id`),
  KEY `role_permission_permission_id_foreign` (`permission_id`),
  CONSTRAINT `role_permission_permission_id_foreign` FOREIGN KEY (`permission_id`) REFERENCES `permissions` (`id`) ON DELETE CASCADE,
  CONSTRAINT `role_permission_role_id_foreign` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=24 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role_permission`
--

LOCK TABLES `role_permission` WRITE;
/*!40000 ALTER TABLE `role_permission` DISABLE KEYS */;
INSERT INTO `role_permission` VALUES (1,1,1,NULL,NULL),(2,1,2,NULL,NULL),(3,1,3,NULL,NULL),(4,1,4,NULL,NULL),(5,1,5,NULL,NULL),(6,1,6,NULL,NULL),(7,1,7,NULL,NULL),(8,1,8,NULL,NULL),(9,1,9,NULL,NULL),(10,1,10,NULL,NULL),(11,1,11,NULL,NULL),(12,2,1,NULL,NULL),(13,2,2,NULL,NULL),(14,2,3,NULL,NULL),(15,2,5,NULL,NULL),(16,2,6,NULL,NULL),(17,3,1,NULL,NULL),(18,3,2,NULL,NULL),(19,3,3,NULL,NULL),(20,3,5,NULL,NULL),(21,3,7,NULL,NULL),(22,1,12,NULL,NULL),(23,3,12,NULL,NULL);
/*!40000 ALTER TABLE `role_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `role_user`
--

DROP TABLE IF EXISTS `role_user`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `role_user` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `user_id` bigint(20) unsigned NOT NULL,
  `role_id` bigint(20) unsigned NOT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `role_user_user_id_role_id_unique` (`user_id`,`role_id`),
  KEY `role_user_role_id_foreign` (`role_id`),
  CONSTRAINT `role_user_role_id_foreign` FOREIGN KEY (`role_id`) REFERENCES `roles` (`id`) ON DELETE CASCADE,
  CONSTRAINT `role_user_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `role_user`
--

LOCK TABLES `role_user` WRITE;
/*!40000 ALTER TABLE `role_user` DISABLE KEYS */;
INSERT INTO `role_user` VALUES (1,1,1,'2025-10-16 11:41:32','2025-10-16 11:41:32'),(7,4,3,NULL,NULL),(8,10,1,NULL,NULL),(10,12,3,NULL,NULL),(12,13,1,NULL,NULL),(13,14,1,NULL,NULL);
/*!40000 ALTER TABLE `role_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

DROP TABLE IF EXISTS `roles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `description` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `roles_name_unique` (`name`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'admin',NULL,'2025-10-16 11:39:58','2025-10-16 11:39:58'),(2,'staff',NULL,'2025-10-16 11:39:58','2025-10-16 11:39:58'),(3,'manager',NULL,'2025-10-16 11:39:58','2025-10-16 11:39:58');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `sessions`
--

DROP TABLE IF EXISTS `sessions`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `sessions` (
  `id` varchar(255) NOT NULL,
  `user_id` bigint(20) unsigned DEFAULT NULL,
  `ip_address` varchar(45) DEFAULT NULL,
  `user_agent` text DEFAULT NULL,
  `payload` longtext NOT NULL,
  `last_activity` int(11) NOT NULL,
  PRIMARY KEY (`id`),
  KEY `sessions_user_id_index` (`user_id`),
  KEY `sessions_last_activity_index` (`last_activity`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `sessions`
--

LOCK TABLES `sessions` WRITE;
/*!40000 ALTER TABLE `sessions` DISABLE KEYS */;
/*!40000 ALTER TABLE `sessions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `store_house_audit_logs`
--

DROP TABLE IF EXISTS `store_house_audit_logs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `store_house_audit_logs` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `store_house_id` bigint(20) unsigned NOT NULL,
  `action` enum('create','update','delete','restore') NOT NULL DEFAULT 'create',
  `change_type` enum('quantity','price','location','batch','other') NOT NULL DEFAULT 'other',
  `old_quantity` decimal(15,2) DEFAULT NULL,
  `new_quantity` decimal(15,2) DEFAULT NULL,
  `old_price` decimal(15,2) DEFAULT NULL,
  `new_price` decimal(15,2) DEFAULT NULL,
  `user_id` bigint(20) unsigned NOT NULL,
  `reason` text DEFAULT NULL,
  `ip_address` varchar(255) DEFAULT NULL,
  `user_agent` varchar(255) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`id`),
  KEY `store_house_audit_logs_store_house_id_action_index` (`store_house_id`,`action`),
  KEY `store_house_audit_logs_user_id_created_at_index` (`user_id`,`created_at`),
  CONSTRAINT `store_house_audit_logs_store_house_id_foreign` FOREIGN KEY (`store_house_id`) REFERENCES `storehouses` (`id`) ON DELETE CASCADE,
  CONSTRAINT `store_house_audit_logs_user_id_foreign` FOREIGN KEY (`user_id`) REFERENCES `users` (`id`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `store_house_audit_logs`
--

LOCK TABLES `store_house_audit_logs` WRITE;
/*!40000 ALTER TABLE `store_house_audit_logs` DISABLE KEYS */;
/*!40000 ALTER TABLE `store_house_audit_logs` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `storehouses`
--

DROP TABLE IF EXISTS `storehouses`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `storehouses` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `farm_id` bigint(20) unsigned DEFAULT NULL,
  `item_type` varchar(255) DEFAULT NULL,
  `item_code` varchar(255) DEFAULT NULL,
  `item_name` varchar(255) DEFAULT NULL,
  `stock` int(11) NOT NULL DEFAULT 0,
  `min_quantity` int(11) DEFAULT NULL,
  `unit` varchar(255) DEFAULT NULL,
  `source` enum('import','purchase','transfer','production','return') NOT NULL DEFAULT 'import',
  `status` varchar(255) DEFAULT NULL,
  `note` text DEFAULT NULL,
  `date` datetime DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `created_by` bigint(20) unsigned DEFAULT NULL,
  `updated_by` bigint(20) unsigned DEFAULT NULL,
  `reason` text DEFAULT NULL,
  `cancelled_at` datetime DEFAULT NULL,
  `cancelled_by` bigint(20) unsigned DEFAULT NULL,
  `cost_id` bigint(20) unsigned DEFAULT NULL,
  PRIMARY KEY (`id`),
  UNIQUE KEY `storehouses_item_code_unique` (`item_code`),
  KEY `storehouses_created_by_foreign` (`created_by`),
  KEY `storehouses_updated_by_foreign` (`updated_by`),
  KEY `storehouses_cancelled_by_foreign` (`cancelled_by`),
  KEY `storehouses_cost_id_foreign` (`cost_id`),
  CONSTRAINT `storehouses_cancelled_by_foreign` FOREIGN KEY (`cancelled_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `storehouses_cost_id_foreign` FOREIGN KEY (`cost_id`) REFERENCES `costs` (`id`) ON DELETE SET NULL,
  CONSTRAINT `storehouses_created_by_foreign` FOREIGN KEY (`created_by`) REFERENCES `users` (`id`) ON DELETE SET NULL,
  CONSTRAINT `storehouses_updated_by_foreign` FOREIGN KEY (`updated_by`) REFERENCES `users` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=27 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `storehouses`
--

LOCK TABLES `storehouses` WRITE;
/*!40000 ALTER TABLE `storehouses` DISABLE KEYS */;
/*!40000 ALTER TABLE `storehouses` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `users`
--

DROP TABLE IF EXISTS `users`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `users` (
  `id` bigint(20) unsigned NOT NULL AUTO_INCREMENT,
  `name` varchar(255) NOT NULL,
  `email` varchar(255) NOT NULL,
  `email_verified_at` timestamp NULL DEFAULT NULL,
  `usertype` varchar(255) NOT NULL DEFAULT 'staff',
  `phone` varchar(255) DEFAULT NULL,
  `address` varchar(255) DEFAULT NULL,
  `farm_id` bigint(20) unsigned DEFAULT NULL,
  `last_login_at` varchar(255) DEFAULT NULL,
  `password` varchar(255) NOT NULL,
  `two_factor_secret` text DEFAULT NULL,
  `two_factor_recovery_codes` text DEFAULT NULL,
  `two_factor_confirmed_at` timestamp NULL DEFAULT NULL,
  `remember_token` varchar(100) DEFAULT NULL,
  `current_team_id` bigint(20) unsigned DEFAULT NULL,
  `profile_photo_path` varchar(2048) DEFAULT NULL,
  `created_at` timestamp NULL DEFAULT NULL,
  `updated_at` timestamp NULL DEFAULT NULL,
  `status` varchar(255) DEFAULT NULL,
  `approved_by` bigint(20) unsigned DEFAULT NULL,
  `approved_at` datetime DEFAULT NULL,
  `rejection_reason` text DEFAULT NULL,
  `cancellation_reason` varchar(255) DEFAULT NULL COMMENT 'เน€เธซเธ•เธธเธเธฅเธเธฒเธฃเธเธญเธขเธเน€เธฅเธดเธ',
  `cancellation_requested_at` timestamp NULL DEFAULT NULL COMMENT 'เน€เธงเธฅเธฒเธ—เธตเนเธเธญเธขเธเน€เธฅเธดเธ',
  PRIMARY KEY (`id`),
  UNIQUE KEY `users_email_unique` (`email`),
  KEY `users_farm_id_foreign` (`farm_id`),
  CONSTRAINT `users_farm_id_foreign` FOREIGN KEY (`farm_id`) REFERENCES `farms` (`id`) ON DELETE SET NULL
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `users`
--

LOCK TABLES `users` WRITE;
/*!40000 ALTER TABLE `users` DISABLE KEYS */;
/*!40000 ALTER TABLE `users` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-01 22:28:32
